* {
    margin: 0;
    padding: 0;
    font-style: none;
}

.father_container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #00FF00 20%, #FF0000 80%, rgba(255, 0, 0, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-size: cover;
}

/* Estilos para dispositivos con una anchura máxima de 768px (por ejemplo, tablets en modo horizontal y dispositivos móviles en modo vertical) */
@media only screen and (max-width: 768px) {
    .father_container {
        width: 200vw; /* Cambiar el ancho al 200% del viewport */
        height: 200vh; /* Cambiar la altura al 200% del viewport */
    }


h1 {
    position: absolute;
    top: 50px; /* Ajustado para dejar espacio */
    right: -300px;
    font-size: 3.5rem;
    margin: 0;
    font-family: 'Oleo Script', cursive;
    font-weight: bold;
    color: transparent; /* Texto transparente */
    background-image: linear-gradient(to right, rgba(0, 255, 0, 1) 33%, rgba(255, 255, 255, 1) 66%, rgba(255, 0, 0, 1) 100%);
    -webkit-background-clip: text; /* Clip al texto */
    background-clip: text; /* Clip al texto */
    text-fill-color: transparent; /* Texto transparente */
    -webkit-text-stroke: 3px rgba(0, 0, 0, 0.8); /* Contorno del texto */
    z-index: 2; /* Asegura que esté por encima del fondo */
}

.image_container {
    position: absolute;
    top: 30px;
    left: 50px;
    right: 20px;
    width: 150px; /* Ancho aumentado a 150px */
    height: 150px; /* Altura aumentada a 150px */
    overflow: hidden;
    border: 4px solid #000000;
    z-index: 2; /* Asegura que esté por encima del fondo */
    border-radius: 50%; /* Hace que el contenedor sea circular */
}

.image_container img {
    width: 100%; /* Ancho igual al contenedor */
    height: 100%; /* Altura igual al contenedor */
    object-fit: cover; /* Hace que la imagen llene el contenedor sin distorsionarse */
    border-radius: 50%; /* Hace que la imagen sea circular */
    margin: 0; /* Elimina cualquier margen */
    padding: 0; /* Elimina cualquier relleno */
}

.image_container {
    position: absolute;
    top: 30px;
    left: 50px;
    right: 20px;
    width: 150px; /* Ancho aumentado a 150px */
    height: 150px; /* Altura aumentada a 150px */
    overflow: hidden;
    border: 4px solid #000000;
    z-index: 2; /* Asegura que esté por encima del fondo */
    border-radius: 50%; /* Hace que el contenedor sea circular */
}

.search_container {
    position: absolute;
    top: 200px; /* Movido más abajo que el image_container */
    left: 50px; /* Mismo valor que el left del image_container */
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(#00FF00, #FFFFFF, #FF0000);
    z-index: 2; /* Asegura que esté por encima del fondo */
    width: 250px; /* Ancho aumentado a 250px */
    height: 50px; /* Altura aumentada a 50px */
}

.search_input {
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 16px;
    padding-left: 30px;
    background-image: linear-gradient(to right, #00FF00, #FFFFFF, #FF0000);
    border-radius: 5px;
    color: #000;
}

.search_input::placeholder {
    color: #000;
    stroke: 6px rgba(0, 0, 0, 0.8);
}

.search_input_container {
    position: relative;
    width: 100%;
}

.search_icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    width: 20px;
    height: 20px;
    fill: rgba(0, 0, 0, 1);
    z-index: 2; /* Asegura que esté por encima del fondo */
}

.toggle_button {
    position: absolute;
    top: 200px; /* Ajusta la distancia desde la parte superior */
    right: -300px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(to right, #00FF00, #FFFFFF, #FF0000);
    cursor: pointer;
    z-index: 3;
}

.toggle_button svg {
    width: 24px;
    height: 24px;
    fill: rgb(0, 0, 0);
    transition: fill 0.3s;
}


.toggle_button:hover svg {
    fill: rgba(0, 0, 0, 1); /* Cambia el color del icono al pasar el cursor sobre el botón (negro) */
}


.container {
    display: flex; /* Utiliza flexbox para alinear los botones */
    justify-content: center; /* Centra los botones horizontalmente */
    background-image: linear-gradient(to right, #00FF00, #FFFFFF, #FF0000); /* Aplica un fondo degradado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Aplica un sombreado difuminado alrededor del contenedor */
    position: relative; /* Asegura que los elementos hijos posicionados sean relativos a este contenedor */
    overflow-x: hidden; /* Oculta el desplazamiento horizontal del contenedor principal */
}

.button {
    width: 150px; /* Aumenta el ancho del botón */
    height: 60px; /* Aumenta la altura del botón */
    margin-right: 20px;
    margin-bottom: 10px; /* Agrega un margen inferior para separar los botones */
    border: none;
    background-image: linear-gradient(to right, #00FF00, #FFFFFF, #FF0000);
    background-clip: padding-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    flex-shrink: 0;
    font-size: 20px; /* Ajusta el tamaño del texto */
}

.buttons_container {
    display: flex;
    position: absolute;
    top: 220px;
    margin-top: 40px; /* Ajusta el margen superior para separar los botones del contenedor de búsqueda */
    left: 60px;
    white-space: nowrap; /* Evita que los botones se envuelvan a una nueva línea */
}

.container_pastor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px; /* Ajuste de la altura del contenedor */
    width: 250px; /* Ajuste del ancho del contenedor */
    border-width: 6px; /* Ajuste del ancho del borde */
    border-style: solid; /* Estilo del borde */
    border-color: green white red; /* Colores del borde (verde, blanco, rojo) */
    padding: 40px; /* Ajuste del relleno */
    margin-left: 50px; /* Ajuste de la distancia a la izquierda */
    margin-top: 50px; /* Ajuste de la distancia hacia arriba */
}
img {
    width: 800px; /* Ajuste del ancho de la imagen */
    height: 800px; /* Ajuste de la altura de la imagen */
    object-fit: contain; /* La imagen se ajustará para caber en el contenedor */
    border-radius: 20px; /* Ajuste de la curvatura de los bordes */
    margin-bottom: 20px; /* Espacio entre la imagen y el texto */
    margin: auto; /* Centra la imagen horizontalmente */
    margin-top: -270px; /* Mueve la imagen hacia arriba */
    margin-right: -200px;/*Mueve la imagen a la derecha*/
    margin-left: -200px; /* Mueve la imagen hacia la izquierda */
}
.box {
    width: 150%;
    height: 150%;
}
.sub-box {
    text-align: center;
}

.container_pastor {
    margin-bottom: 400px; /* Mueve el contenedor hacia arriba */
    margin-left: -299px; /* Mueve el contenedor hacia la izquierda */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    margin-top: auto;
    margin-bottom: 20px;
    max-width: 400px; /* Ancho máximo del cuadro */
    margin: 10px; /* Margen alrededor del cuadro */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 70%; /* Centra la imagen */
}

p {
    font-size: 30px; /* Aumenta el tamaño de la descripción */
    text-shadow: 1px 1px 1px #000; /* Agrega contorno */
    margin-top: -310px; /* Ajusta este valor según sea necesario */

}
.star {
    margin-right: 5px;
    font-size: 50px; /* Tamaño más grande */
    color: yellow; /* Color amarillo */
    margin-top: -30px; /* Baja un poco más la calificación */
}
p_calificacion {
    font-size: 40px; /* Tamaño de la calificación igual al de la descripción */
    margin-left: 10px; /* Ajuste de margen para separar la estrella y la calificación */
    padding: 10px; /* Aumenta el espacio interno */
    margin-top: -30px; /* Baja un poco más la calificación */
    font-weight: bold; /* Hace la calificación más gruesa */
}

tiempo {
    padding: 1px; /* Aumenta el espacio interno */
    font-size: 40px; /* Tamaño del tiempo igual al de la descripción */
    font-weight: bold; /* Hace la calificación más gruesa */
    margin-top: -30px; /* Baja un poco más la calificación */
}


}