@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap')




.profile
  margin-top: -120px  // Ajusta el margen superior para que esté más arriba
  margin-right: 240px  // Ajusta el margen derecho para separar el perfil del título

.profile-img
  width: 100px  // Ancho del contenedor de la imagen
  height: 100px  // Altura del contenedor de la imagen
  object-fit: cover  // Mantener la relación de aspecto de la imagen y cubrir el contenedor
  border-radius: 50%  // Hacer la imagen circular
  display: block  // Asegurar que la imagen se muestre como un bloque
  margin-left: 40px
  margin-top: 50px  // Bajar la imagen

.title
  color: black  // Color del texto negro
  font-size: 2.5rem  // Tamaño de fuente más pequeño
  text-align: right  // Alinear el texto a la derecha
  margin-left: 170px  // Margen izquierdo
  margin-top: 50px  // Ajuste del margen superior para colocar el título más abajo

.search
  width: 100%
  position: relative
  display: flex
  align-items: center // Alinear verticalmente los elementos en el centro

.searchTerm
  flex: 1 // Ocupa todo el espacio restante en la barra de búsqueda
  border: 3px solid gray // Cambiar el color a gris
  border-right: none
  padding: 5px 20px // Aumentar el padding horizontal para hacer el campo de búsqueda más largo
  height: 30px // Ajustar la altura para que sea más visible y legible
  border-radius: 5px 0 0 5px
  outline: none
  color: black
  position: relative // Asegurar que el posicionamiento del rectángulo de fondo sea relativo a este elemento
  
.searchTerm:focus
  color: black

.searchButton
  width: 60px // Aumentar el ancho del botón para hacerlo más visible y clickeable
  height: 36px
  border: 1px solid #9DBFAF
  background: #9DBFAF
  text-align: center
  color: black
  border-radius: 0 5px 5px 0
  cursor: pointer
  font-size: 20px

.search .icon
  display: flex
  align-items: center // Centrar verticalmente el icono
  margin-right: 10px // Ajustar el margen derecho para separar el icono del searchTerm

.search .icon ion-icon
  font-size: 20px // Tamaño del icono

// Resize the wrap to see the search bar change!
.wrap
  width: 30%
  position: absolute
  top: 150px // Ajusta la posición vertical de la barra de búsqueda
  left: 70px // Ajusta la posición horizontal de la barra de búsqueda
  transform: translateX(-50%)


//TOGGLE
.toggle_container
  background: linear-gradient(to right, green, white, red)
  display: flex
  justify-content: center
  align-items: center
  width: 50px // Ancho del contenedor
  height: 50px // Altura del contenedor
  border: 1.5px solid black
  border-radius: 10px
  margin-left: 320px // Ajustar la posición hacia la izquierda
  margin-top: -100px // Ajustar la posición hacia arriba
  cursor: pointer // Agregar cursor pointer para indicar que es interactivo

  svg
    fill: black// Color verde para la bandera de México
    width: 24px // Ajustar el ancho del ícono
    height: 24px // Ajustar la altura del ícono

//botones
.button_container
  display: flex
  gap: 10px
  justify-content: center
  overflow-x: auto  // Habilita la barra de desplazamiento horizontal cuando el contenido excede el contenedor
  margin-top: 80px  // Aumenta el margen superior a 40px para colocar los botones más abajo

.button
  padding: 5px 10px  // Reducir el espacio interno de los botones
  font-size: 0.8em  // Reducir el tamaño de la fuente de los botones
  background-color: #ccc
  border: none
  border-radius: 10px
  cursor: pointer
  box-shadow: none// Añade esta línea para eliminar cualquier sombra aplicada por defecto



//IMAGEN 1
.image-wrapper-pastor
  max-width: 90% // Ajustado el valor de max-width para hacer la imagen más pequeña
  height: auto
  margin-top: 90px // Ajusta el margen superior para mover la imagen más arriba
  margin-left: 10px
  margin-right: 10px

.image-wrapper-pastor img.tacos-img
  max-width: 80% // Ajustado el valor de max-width para hacer la imagen más pequeña
  height: auto
  margin-left: 10px
  margin-top: -30px

.description-pastor
  color: black
  font-weight: bold
  text-align: left // Alinear el texto a la izquierda
  margin-left: 20px // Ajustar para alinear el texto a la izquierda
  margin-right: 0 // Eliminar el margen derecho

.rating-wrapper-pastor
  display: flex
  align-items: center
  justify-content: flex-start // Cambiado de flex-end a flex-start
  margin-top: -15px // Ajusta el valor según sea necesario
  margin-left: -15px // Reducido el valor para mover más a la izquierda 

.rating-pastor
  font-size: 25px // Aumentar el tamaño de la estrella
  color: yellow
  margin-left: 30px // Mover la estrella más a la derecha
  margin-top: -10px // Ajustar para alinear la calificación con la estrella

p.rating-value-pastor
  font-size: 20px // Aumentar el tamaño de la calificación
  color: black
  margin: 20px
  margin-left: 20px // Mover la calificación más a la derecha
