.search-container
  position: absolute
  top: 20px  // Ajusta la posición vertical hacia arriba
  right: 20px  // Ajusta la posición horizontal hacia la derecha

.search-button
  border: none
  background-color: transparent
  cursor: pointer

  svg
    fill: rgba(0, 0, 0, 1)
    width: 24px
    height: 24px
